body {
    width: 100%;
    margin: auto;
    background-color: #f5f5f5  ;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    /*TODO: change font and colours*/
}
/*edits by wilbur*/
/* using button rather than btn from bootstrap because all methods from Bindings.js
 are making use of <button> */

.btn:hover {
    transition: all 0.7s ease 0s;
    background-color: #1081cc;
}
Button:active {
    position:relative;
    top:1px;
}

